version: "3.8"

include:
  - path: proxy.yaml

name: mysh-net

services:
  db:
    image: mysql:8
    container_name: mysql-db
    command:
      - --mysql-native-password=ON
      - --require-secure-transport=OFF
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_HOST: "%"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping"]
      interval: 30s
      timeout: 5s
      retries: 3
    networks:
      backend:
        ipv4_address: 172.20.0.10
    restart: on-failure

  web:
    image: cr.yandex/crpqibqukpb1lcsdb3jn/pydock:1.0.0
    container_name: web-face
    env_file:
      - .env
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: ${MYSQL_DATABASE}
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
    expose:
      - "5000"
    networks:
      backend:
        ipv4_address: 172.20.0.5
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure

volumes:
  db_data: {}